body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #0a0a0a;
  color: white;
}

.auth {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(128, 0, 0, 0.22);
  float: left;
  padding: 1vh;
}

.authTitle {
  width: 100%;
  height: 16vh;
  padding: 1.75rem;
  font-size: 2.3rem;
  font-weight: 700;
  border: 1px solid red;
  background-color: darkred;
  text-align: center;
  color: #f3a712;
}
.authForm {
  width: 100%;
  height: 81vh;
  padding: 2vh;
  text-align: center;
}
.authClassContent {
  background-color: #181818;
  float: left;
  width: 36.5vw;
  height: 49vh;
  border: 1px solid red;
  position: relative;
  top: 13vh;
  left: 5vw;
  visibility: visible;
  opacity: 1;
}
.authClassContent .title {
  width: 100%;
  height: 8vh;
  background-color: rgb(9, 9, 29);
  border: 1px solid red;
  background-color: darkred;
  text-align: center;
  color: #f3a712;
  float: left;
  font-size: 1.6rem;
  font-weight: 700;
  padding-top: 1vh;
  margin-bottom: 1vh;
}
.authClassContent .avatar {
  margin-left: 0.8vw;
  float: left;
  width: 15.9vw;
  height: 29vh;
  background-color: rgba(255, 0, 0, 0.15);
  border: 1px solid rgba(148, 0, 0, 0.72);
}
.authClassContent .avatar .imageAvatar {
  position: relative;
  width: 15.9vw;
  height: 29vh;
  top: -0.3vh;
  left: 0;
}
.authClassContent .right {
  float: left;
  width: 18.3vw;
  height: 29vh;
  margin-left: 1vw;
}
.authClassContent .right .heroClass {
  float: left;
  width: 18.3vw;
  height: 6.5vh;
  color: #f3a712;
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 0.4rem;
  background-color: rgba(255, 0, 0, 0.15);
  border: 1px solid rgba(148, 0, 0, 0.72);
}
.authClassContent .right .heroDescription {
  margin-top: 0.5vh;
  padding-top: 1vh;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: rgba(255, 0, 0, 0.15);
  border: 1px solid rgba(148, 0, 0, 0.72);
  float: left;
  width: 18.3vw;
  color: #f3a712;
  height: 22vh;
}
.authClassContent .buttons {
  margin-top: 0.1rem;
  padding-top: 2vh;
  float: left;
  width: 100%;
  height: 10vh;
  background-color: #181818;
}
.authContent {
  background-color: #181818;
  float: left;
  width: 36.5vw;
  border: 1px solid red;
  text-align: center;
  color: red;
  top: 13vh;
  position: relative;
}
.logItems {
  margin-top: 0.25rem;
}
.authContentTitle {
  display: inline-block;
  width: 36.5vw;
  height: 8.2vh;
  border: 1px solid red;
  background-color: darkred;
  text-align: center;
  color: #f3a712;
  font-size: 1.75rem;
  font-weight: 600;
  padding-top: 1vh;
}

.authElementInput {
  width: 100%;
  height: 8vh;
  float: left;
  color: #f3a712;
  font-size: 1.1rem;
}

.authElementInputName {
  float: left;
  padding-top: 0.5rem;
  width: 50%;
  height: 8vh;
}
.authElementInputInput {
  padding-top: 0.6rem;
  text-align: center;
  display: inline-block;
  width: 50%;
  height: 8vh;
}
.authElementInput input {
  font-size: 1rem;
}
.main .authForm .authClassContent .buttons .previousButton {
  background-color: #1c1c1c;
  color: #f3a712;
  border: 2px solid #050505;
  padding: 0.8rem 1.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin-top: 0.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  width: 8vw;
  transition-duration: 0.4s;
  cursor: pointer;
}
.main .authForm .authClassContent .buttons .nextButton {
  background-color: #1c1c1c;
  color: #f3a712;
  border: 2px solid #050505;
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin-top: 0.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  width: 8vw;

  transition-duration: 0.4s;
  cursor: pointer;
}
.main .authForm .authClassContent .buttons .previousButton:hover {
  color: #000000;
  background-color: rgba(250, 173, 18, 0.95);
}
.main .authForm .authClassContent .buttons .nextButton:hover {
  color: #000000;
  background-color: rgba(250, 173, 18, 0.95);
}

.buttonAuth {
  background-color: #1c1c1c;
  color: #f3a712;
  border: 2px solid #050505;
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin-top: 0.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;

  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonAuth:hover {
  color: #000000;
  background-color: rgba(250, 173, 18, 0.95);
}

.popup-error {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-inner {
  position: fixed;
  padding: 3.8vh;
  width: 100%;
  height: 43vh;
  max-width: 26vw;
  border: 1px solid red;
  background-color: #181818;
}

.error-inner .title {
  border: 1px solid red;
  background-color: darkred;
  width: 100%;
  float: left;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: -1.5vh;
  color: #f3a712;
}

.error-inner .description {
  color: #f3a712;
  width: 100%;
  text-align: center;
  height: 13vh;
  float: left;
  margin-top: 2vh;
  font-size: 1.3rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.error-inner .button-div {
  text-align: center;
  width: 100%;
  height: 3.5vh;
  float: left;
  margin-top: 7.3vh;
  font-size: 1.3rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
.error-inner .button-div button {
  width: 9.2vw;
  background-color: #1c1c1c;
  color: #f3a712;
  border: 2px solid #050505;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.2rem 0.1rem;
  transition-duration: 0.4s;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.error-inner .button-div button:hover {
  color: #000000;
  background-color: rgba(250, 173, 18, 0.95);
}
