.missionsView {
  width: 100%;
  height: 100%;
  padding: 1vh;
}
.missionsView .topic {
  float: left;
  text-align: center;
  padding-top: 0.4rem;
  height: 9vh;
  width: 100%;
  font-size: 2.8rem;
  font-weight: 300;
  text-shadow: 2px 2px #5e2700;
  background-color: rgba(255, 107, 0, 0.03);
  color: rgb(255, 107, 0);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.missionsView .missions {
  margin-top: 1vh;
  float: left;
  width: 100%;
  height: 85vh;
  padding-top: 0.5vh;
}
.missions .missionView {
  width: 21vw;
  height: 100%;
  float: left;
  margin-left: 3.2vw;
  border: 1px solid rgba(126, 50, 0, 0.5);
  background-color: rgba(80, 33, 0, 0.06);
}
.missionView .title {
  width: 100%;
  height: 9vh;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1vh;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(255, 122, 36);
  background-color: rgba(255, 122, 36, 0.04);
}
.missionView .description {
  height: 23vh;
  width: 100%;
  text-align: center;

  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: rgba(255, 178, 128, 0.75);
}
.missionView .difficult {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: rgba(255, 178, 128, 0.75);
}
.missionView .level {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: rgba(255, 178, 128, 0.75);
}

.missionView .time {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: rgba(102, 208, 246, 0.8);
}
.missionView .timeValue {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1vh;
  color: rgba(102, 208, 246, 0.8);
}

.missionView .expPoints {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: rgb(185, 119, 246);
  font-size: 1rem;
}
.missionView .expPointsValue {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(185, 119, 246);
  font-size: 1rem;
}
.missionView .money {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff264;
  font-size: 1rem;
}
.missionView .moneyValue {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff264;
  font-size: 1rem;
}
.missionView .itemBox {
  width: 100%;
  height: 17vh;
  text-align: center;
  float: left;
  padding-left: 5vw;
}
.missionView .itemBox .item {
  float: left;
  width: 11.5vw;
  height: 16vh;
  background-color: rgba(255, 107, 0, 0.05);
  border: 1px solid rgba(126, 50, 0, 0.5);
}
.missionView .itemBox .item img {
  width: 11.5vw;
  height: 16vh;
  top: 0;
  right: 0;
}
.itemBox .item .active-btn {
  display: unset;
  position: relative;
  top: -16.4vh;
  left: 4.8vw;
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.itemBox .item .active-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 1);
  color: white;
}

.easy {
  font-weight: 500;
  color: #228147;
}
.medium {
  font-weight: 500;
  color: #ecdb1a;
}
.hard {
  font-weight: 500;
  color: #9c1b1b;
}

.missionView .missionButton {
  height: 8vh;
  width: 100%;
  text-align: center;
  float: left;
}

.missionStartButton {
  background-color: rgba(255, 136, 0, 0.04);
  color: rgb(255, 136, 0);
  border: 1px solid rgba(255, 136, 0, 0.7);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1vh;
  padding: 0.7rem 0.7rem;
  width: 9.3vw;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  position: relative;
}
.missionStartButton:hover {
  background-color: rgba(255, 136, 0, 0.15);
  color: rgb(255, 154, 38);
  border: 1px solid rgba(255, 136, 0, 1);
}
.missionStartButton:disabled {
  background: #dddddd;
  color: rgb(9, 9, 29);
  border: 1px solid rgba(0, 0, 0, 0.7);
  cursor: no-drop;
}

.popup-missionItem {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
}

.missionItem-inner {
  position: fixed;
  padding: 3vh;
  width: 100%;
  height: 90vh;
  max-width: 35vw;
  background-color: #0e0e0e;
  border: 1px solid rgba(255, 174, 0, 0.5);
}
.missionItem-inner .close-btn {
  position: absolute;
  top: 1vh;
  right: 1vh;
  padding: 0.4rem 0.5rem;
  background: rgba(220, 20, 60, 0.12);
  border: 1px solid rgba(220, 20, 60, 0.85);
  color: rgba(255, 255, 255, 1);
  outline: none;
  border-radius: 0.1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  z-index: 2;
}
.close-btn:hover {
  background: rgba(220, 20, 60, 0.3);
  border: 1px solid rgb(255, 0, 51);
  color: rgba(255, 255, 255, 1);
}
.missionItem-inner .title {
  width: 100%;
  float: left;
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: -1.5vh;
  z-index: 1;
  color: whitesmoke !important;
}
.missionItem-inner .image {
  margin-left: 8vw;
  width: 16vw;
  height: 24vh;
  background-color: rgba(255, 174, 0, 0.05);
  border: 1px solid rgba(255, 174, 0, 0.7);
  float: left;
}
.missionView .missionItem-inner .image img {
  width: 16vw;
  height: 24vh;
}
.missionItem-inner .typeOfItem {
  width: 100%;
  height: 6.5vh;
  font-size: 1.4rem;
  padding-top: 0.25rem;
  font-weight: 100;
  color: rgba(232, 232, 232, 0.95);
  float: left;
}
.missionItem-inner .infoAboutItem {
  width: 100%;
  height: 31vh;
  float: left;
}

.missionItem-inner .infoAboutItem .undertitle {
  width: 100%;
  height: 4.3vh;
  float: left;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #f5f5f5;
}
.missionItem-inner .infoAboutItem .stats {
  float: left;
  height: 25vh;
  width: 100%;
  padding-top: 0.5rem;
  background-color: rgba(255, 174, 0, 0.04);
  border: 1px solid rgba(255, 174, 0, 0.45);
}
.missionItem-inner .infoAboutItem .stats .values {
  float: left;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}
.missionItem-inner .infoAboutItem .stats .values .row {
  width: 100%;
  height: 4vh;
  float: left;
}
.missionItem-inner .infoAboutItem .stats .values .row .statName {
  height: 100%;
  width: 35%;
  float: left;
  text-align: right;
  padding-right: 1vw;
}

.missionItem-inner .infoAboutItem .stats .values .row .statValue {
  float: left;
  height: 100%;
  width: 20%;
  text-align: center;
  padding-left: 1vw;
}
.missionItem-inner .infoAboutItem .stats .values .row .equipmentValue {
  float: left;
  height: 100%;
  width: 20%;
  text-align: center;
  padding-left: 1vw;
}
.missionItem-inner .infoAboutItem .stats .values .row .diffrenceValue {
  float: left;
  height: 100%;
  width: 15%;
  text-align: center;
  padding-left: 1vw;
}

.missionItem-inner .sellInfo {
  margin-top: 4.5vh;
  width: 100%;
  height: 5vh;
  float: left;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: whitesmoke;
}
