.skillsView {
  color: red;
  height: 100%;
  width: 100%;
  padding: 1rem;
}
.skillsView .BattleContener {
  width: 100%;
  border: 1px solid red;
  height: 138px;
  padding: 1rem;
  float: left;
}
.BattleContener .Name {
  width: 50%;
  border: 1px solid red;
  height: 100%;
  background-color: rgb(21, 21, 65);
  padding-top: 2.5vh;
  text-align: center;
  float: left;
}
.BattleContener .Skills {
  width: 50%;
  border: 1px solid red;
  height: 100%;
  padding: 8px;
  text-align: center;
  float: left;
  align-items: center;
  padding-left: 50px;
}
.BattleContener .Skills .Skill {
  width: 122px;
  border: 1px solid red;
  height: 87px;
  background-color: rgb(21, 21, 65);
  padding: 2px;
  text-align: center;
  float: left;
  margin-left: 35px;
  margin-right: 35px;
}
.BattleContener .Skills .Skill .imageSkill {
  position: relative;
  display: inline-block;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.BattleContener .Skills .Skill .active-btn {
  display: unset;
  position: relative;
  top: -93px;
  left: -47px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  background: red;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 30px;
  z-index: 3;
}

.skillsView .skillsContener {
  margin-top: 10px;
  width: 100%;
  border: 1px solid red;
  height: 75vh;

  padding: 1rem;
  float: left;
}
.skillsContener .Points {
  margin-top: 10px;
  width: 100%;
  border: 1px solid red;
  height: 7vh;
  background-color: rgb(21, 21, 65);
  padding: 1rem;
  float: left;
  text-align: center;
}
.skillsContener .ContenerLevels {
  margin-top: 10px;
  width: 100%;
  border: 1px solid red;
  height: 10vh;
  float: left;
  text-align: center;
}
.ContenerLevels .LevelsTitle {
  width: 100%;
  border: 1px solid red;
  height: 6vh;
  background-color: rgb(21, 21, 65);
  padding: 0.5rem;
  float: left;
  text-align: center;
}
.ContenerLevels .LevelsElements {
  width: 100%;
  height: 100%;
  float: left;
  text-align: center;
}

.skillsContenerLevelsElement {
  width: 10%;
  height: 100%;
  margin-left: 42px;
  margin-right: 45px;
  padding: 0.3rem;
  float: left;
  text-align: center;
}

.skillsContener .Active {
  margin-top: 10px;
  width: 100%;
  border: 1px solid red;
  height: 27%;
  float: left;
  text-align: center;
}

.Active .Title {
  width: 100%;
  border: 1px solid red;
  height: 6vh;
  background-color: rgb(21, 21, 65);
  padding: 0.5rem;
  float: left;
  text-align: center;
}
.Active .Elements {
  width: 100%;
  height: 18.8vh;

  float: left;
  text-align: center;
}
.Active .Elements .Element {
  margin: 8px;
  margin-left: 49px;
  margin-right: 49px;
  width: 122px;
  height: 87px;
  background-color: rgb(21, 21, 65);
  padding: 0.3rem;
  float: left;
  text-align: center;
}
.Active .Elements .Element .imageSkill {
  position: relative;
  display: inline-block;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.Active .Elements .Element .active-btn {
  display: unset;
  position: relative;
  top: -93px;
  left: -47px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  background: red;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 30px;
  z-index: 3;
}
.Active .Elements .Element .active-btn:hover {
  background-color: red;
  color: rgb(9, 9, 29);
}

.skillsContener .Passive {
  margin-top: 10px;
  width: 100%;
  border: 1px solid red;
  height: 40%;
  float: left;
  text-align: center;
}
.Passive .Title {
  width: 100%;
  border: 1px solid red;
  height: 6vh;
  background-color: rgb(21, 21, 65);
  padding: 0.5rem;
  float: left;
  text-align: center;
}
.Passive .Elements {
  width: 100%;
  height: 18.8vh;

  float: left;
  text-align: center;
}

.Passive .Elements .Element {
  z-index: 1;
  margin: 8px;
  margin-left: 49px;
  margin-right: 49px;
  width: 122px;
  height: 87px;
  background-color: rgb(21, 21, 65);
  padding: 0.3rem;
  float: left;
  text-align: center;
}
.Passive .Elements .Element .imageSkill {
  position: relative;
  display: inline-block;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.Passive .Elements .Element .passive-btn {
  display: unset;
  position: relative;
  top: -93px;
  left: -47px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  background: red;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 30px;
  z-index: 3;
}
.Passive .Elements .Element .passive-btn:hover {
  background-color: red;
  color: rgb(9, 9, 29);
}
