.popup-active {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-inner {
  position: fixed;
  padding: 3.5vh;
  width: 100%;
  height: 90vh;
  max-width: 46vw;
  background-color: rgb(0, 5, 0);
  border: 1px solid rgba(0, 208, 255, 0.55);
}

.active-inner .close-btn {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  padding: 0.4rem 0.6rem;
  background: rgba(220, 20, 60, 0.12);
  border: 1px solid rgba(220, 20, 60, 0.85);
  color: rgba(255, 255, 255, 1);
  outline: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  z-index: 2;
}

.active-inner .close-btn:hover {
  background: rgba(220, 20, 60, 0.3);
  border: 1px solid rgb(255, 0, 51);
  color: rgba(255, 255, 255, 1);
}

.active-inner .title {
  width: 100%;
  float: left;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: -0.8rem;
  z-index: 1;
}

.active-inner .image {
  width: 100%;
  height: 25vh;
  float: left;
}

.active-inner .image img {
  height: 25vh;
  width: 17vw;
}

.active-inner .description {
  width: 100%;
  height: 8vh;
  float: left;
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-size: 1.3rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

.active-inner .values {
  float: left;
  height: 19vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.active-inner .values .nameOfValue {
  float: left;
  margin-top: 1.3vh;
  width: 60%;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.active-inner .values .second {
  width: 40%;
  height: 100%;
  float: left;
  margin-top: 1.3vh;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.active-inner .buttons-div-assign {
  float: left;
  height: 15vh;
}

.buttons-div-assign .info {
  width: 100%;
  float: left;
  height: 3.5vh;
  font-size: 1.2rem;
  font-weight: 500;
}

.buttons-div-assign .buttons {
  margin-top: 2vh;
  height: 8vh;
  display: inline-block;
}

.buttons button {
  width: 6vw;
  margin-left: 1.3vw;
  margin-right: 1.3vw;
  background-color: rgb(9, 9, 29);
  color: red;
  border: 1px solid red;
  padding: 0.7rem 1.4rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttons button:hover {
  background-color: red;
  color: rgb(9, 9, 29);
}

.buttons button:disabled {
  background: #dddddd;
  color: rgb(9, 9, 29);
  cursor: no-drop;
}

.active-inner .button-div-unlock {
  float: left;
  width: 100%;
  height: 9vh;
}

.button-div-unlock button {
  width: 9.3vw;
  margin: 0.2rem 0.2rem;
  background-color: rgb(9, 9, 29);
  color: red;
  border: 1px solid red;
  padding: 0.7rem 1.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-div-unlock button:hover {
  background-color: red;
  color: rgb(9, 9, 29);
}

.button-div-unlock button:disabled {
  background: #dddddd;
  color: rgb(9, 9, 29);
  cursor: no-drop;
}

.unlock {
  background-color: rgba(0, 255, 187, 0.08) !important;
  color: rgb(0, 255, 187) !important;
  border: 1px solid rgba(0, 255, 187, 0.6) !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  width: 8vw;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  position: relative;
  top: 0.5rem;
}

.unlock:hover {
  background-color: rgba(0, 255, 187, 0.2) !important;
  color: rgb(0, 255, 186) !important;
  border: 1px solid rgba(0, 255, 187, 1) !important;
}

.unlock:disabled {
  background-color: rgba(0, 94, 70, 0.2) !important;
  color: rgb(0, 119, 87) !important;
  border: 1px solid rgb(0, 87, 62) !important;
}

.a1 {
  background-color: rgba(0, 247, 255, 0.08) !important;
  color: rgb(0, 247, 255) !important;
  border: 1px solid rgba(0, 247, 255, 0.6) !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  width: 8vw;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.a1:hover {
  background-color: rgba(0, 247, 255, 0.2) !important;
  color: rgb(0, 247, 255) !important;
  border: 1px solid rgba(0, 247, 255, 1) !important;
}

.a1:disabled {
  background-color: rgba(0, 247, 255, 0.1) !important;
  color: rgba(0, 247, 255, 0.3) !important;
  border: 1px solid rgba(0, 247, 255, 0.2) !important;
}

.a3 {
  background-color: rgba(255, 254, 102, 0.08) !important;
  color: rgb(255, 254, 102) !important;
  border: 1px solid rgba(255, 254, 102, 0.6) !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  width: 8vw;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.a3:hover {
  background-color: rgba(255, 254, 102, 0.2) !important;
  color: rgb(255, 254, 102) !important;
  border: 1px solid rgba(255, 254, 102, 1) !important;
}

.a3:disabled {
  background-color: rgba(255, 254, 102, 0.1) !important;
  color: rgba(255, 254, 102, 0.3) !important;
  border: 1px solid rgba(255, 254, 102, 0.2) !important;
}

.a2 {
  background-color: rgba(220, 139, 255, 0.1) !important;
  color: rgb(220, 139, 255) !important;
  border: 1px solid rgba(220, 139, 255, 0.8) !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  width: 8vw;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.a2:hover {
  background-color: rgba(220, 139, 255, 0.2) !important;
  color: rgb(220, 139, 255) !important;
  border: 1px solid rgba(220, 139, 255, 1) !important;
}

.a2:disabled {
  background-color: rgba(220, 139, 255, 0.1) !important;
  color: rgba(220, 139, 255, 0.3) !important;
  border: 1px solid rgba(220, 139, 255, 0.2) !important;
}
