.skillsView {
  height: 100%;
  width: 100%;
  padding: 1rem;
}
.skillsView .BattleContener {
  width: 100%;
  height: 138px;
  padding: 1rem;
  float: left;
}
.BattleContener .Name {
  width: 50%;
  border: 1px solid rgba(0, 255, 139, 0.3);
  height: 100%;
  background-color: rgba(86, 191, 255, 0.03);
  padding-top: 36px;
  text-align: center;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 27px;
  color: #00ff8b;
}
.BattleContener .Skills {
  width: 50%;
  border: 1px solid rgba(0, 255, 139, 0.3);
  border-left: 0;
  height: 100%;
  padding: 8px;
  text-align: center;
  float: left;
  align-items: center;
  padding-left: 50px;
}
.BattleContener .Skills .Skill {
  width: 122px;
  height: 87px;
  background-color: rgba(0, 255, 139, 0.03);
  border: 1px solid rgba(0, 255, 139, 0.3);
  padding: 2px;
  text-align: center;
  float: left;
  margin-left: 35px;
  margin-right: 35px;
}
.BattleContener .Skills .Skill .imageSkill {
  position: relative;
  display: inline-block;
  top: -2px;
  right: 2px;
  z-index: 1;
}
.BattleContener .Skills .Skill .active-btn {
  display: unset;
  position: relative;
  top: -92px;
  left: 46px;
  outline: none;
  z-index: 3;
  background-color: rgb(0, 61, 34);
  border: 1px solid rgba(0, 255, 139, 0.5);
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.BattleContener .Skills .Skill .active-btn:hover {
  background-color: rgb(0, 82, 46);
  border: 1px solid rgba(0, 255, 139, 1);
  color: rgb(255, 255, 255);
}

.skillsView .skillsContener {
  margin-top: 10px;
  width: 100%;
  border: 1px solid rgba(86, 191, 255, 0.2);
  height: 700px;
  padding: 1rem;
  float: left;
  font-family: "Montserrat", sans-serif;
}
.skillsContener .Points {
  width: 100%;

  padding-top: 4px;
  padding-bottom: 9px;
  float: left;
  text-align: center;
  font-weight: 200;
  font-size: 26px;
  color: rgba(87, 234, 255, 1);
}
.ptk {
  font-weight: 600;
}
.skillsContener .ContenerLevels {
  margin-top: 10px;
  width: 100%;
  height: 120px;
  float: left;
  text-align: center;
}
.ContenerLevels .LevelsTitle {
  width: 100%;
  border: 1px solid rgba(86, 191, 255, 0.25);
  height: 60px;
  background-color: rgba(86, 191, 255, 0.03);
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 200;
  padding-top: 12px;
  text-align: center;
}
.ContenerLevels .LevelsElements {
  width: 100%;
  height: 100%;
  float: left;
  text-align: center;
}

.skillsContenerLevelsElement {
  width: 16.5%;
  height: 100%;

  padding-top: 22px;
  padding-bottom: 8px;
  float: left;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  color: whitesmoke;
  text-transform: uppercase;
}

.skillsContener .Active {
  margin-top: 10px;
  width: 100%;
  height: 175px;
  float: left;
  text-align: center;
}

.Active .Title {
  width: 100%;
  border: 1px solid rgba(86, 191, 255, 0.25);
  height: 60px;
  background-color: rgba(86, 191, 255, 0.03);
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 200;
  padding-top: 13px;
  text-align: center;
}
.Active .Elements {
  width: 100%;
  margin-top: 7px;

  float: left;
  text-align: center;
}
.Active .Elements .Element {
  margin: 8px;
  margin-left: 49px;
  margin-right: 49px;
  width: 122px;
  height: 87px;
  background-color: rgba(0, 152, 255, 0.03);
  padding: 0.3rem;
  float: left;
  text-align: center;
}
.Active .Elements .Element .imageSkill {
  position: relative;
  display: inline-block;
  top: -2px;
  right: 2px;
  z-index: 1;
}
.Active .Elements .Element .active-btn {
  display: unset;
  position: relative;
  top: -92px;
  left: 46px;
  outline: none;
  z-index: 3;
  background: rgba(0, 57, 70, 0.89);
  border: 1px solid rgba(0, 208, 255, 0.5);
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.Active .Elements .Element .active-btn:hover {
  background: rgb(0, 89, 112);
  border: 1px solid rgba(0, 208, 255, 1);
  color: rgb(255, 255, 255);
}

.skillsContener .Passive {
  margin-top: 15px;
  width: 100%;
  height: 40%;
  float: left;
  text-align: center;
}
.Passive .Title {
  width: 100%;
  border: 1px solid rgba(86, 191, 255, 0.25);
  height: 60px;
  background-color: rgba(86, 191, 255, 0.03);

  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 200;
  padding-top: 13px;
  text-align: center;
}
.Passive .Elements {
  width: 100%;
  margin-top: 10px;

  float: left;
  text-align: center;
}

.Passive .Elements .Element {
  z-index: 1;
  margin: 8px;
  margin-left: 49px;
  margin-right: 49px;
  width: 122px;
  height: 87px;
  background-color: rgba(0, 152, 255, 0.03);

  padding: 0.3rem;
  float: left;
  text-align: center;
}
.Passive .Elements .Element .imageSkill {
  position: relative;
  display: inline-block;
  top: -5px;
  right: 16px;
  z-index: 1;
}
.Passive .Elements .Element .passive-btn {
  display: unset;
  position: relative;
  top: -92px;
  left: 46px;
  z-index: 3;
  background: rgba(0, 57, 70, 0.89);
  border: 1px solid rgba(0, 208, 255, 0.5);
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.Passive .Elements .Element .passive-btn:hover {
  background: rgb(0, 89, 112);
  border: 1px solid rgba(0, 208, 255, 1);
  color: rgb(255, 255, 255);
}
