.popup-skillBattle {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillBattle-inner {
  position: fixed;
  padding: 32px;
  width: 100%;
  height: 80vh;
  max-width: 35vw;
  background-color: rgb(0, 5, 0);
  border: 1px solid rgba(0, 255, 139, 0.6);
}

.skillBattle-inner .close-btn {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  padding: 0.4rem 0.6rem;
  background: rgba(220, 20, 60, 0.12);
  border: 1px solid rgba(220, 20, 60, 0.85);
  color: rgba(255, 255, 255, 1);
  outline: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  z-index: 2;
}

.skillBattle-inner .close-btn:hover {
  background: rgba(220, 20, 60, 0.3);
  border: 1px solid rgb(255, 0, 51);
  color: rgba(255, 255, 255, 1);
}

.skillBattle-inner .title {
  width: 100%;
  float: left;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: -0.8rem;
  z-index: 1;
}

.skillBattle-inner .image {
  width: 100%;
  height: 25vh;
  float: left;
}
.active-inner .image img {
  height: 25vh;
  width: 17vw;
}

.skillBattle-inner .description {
  width: 100%;
  height: 8vh;
  float: left;
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-size: 1.3rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

.skillBattle-inner .values {
  height: 19vh;
  width: 100%;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.skillBattle-inner .values .nameOfValue {
  float: left;
  margin-top: 1.3vh;
  width: 60%;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.skillBattle-inner .values .second {
  width: 40%;
  height: 100%;
  float: left;
  margin-top: 1.3vh;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.umj {
  color: #00eaa1;
  margin-bottom: 10px;
}

.man {
  color: #00edff;
  margin-bottom: 10px;
}

.cst {
  color: #dc8bff;
  margin-bottom: 10px;
}

.tim {
  color: #fffe66;
  margin-bottom: 0px;
}

.buttons button {
  width: 6vw;
  margin-left: 1.3vw;
  margin-right: 1.3vw;
  background-color: rgb(9, 9, 29);
  color: red;
  border: 1px solid red;
  padding: 0.7rem 1.4rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttons button:hover {
  background-color: red;
  color: rgb(9, 9, 29);
}

.buttons button:disabled {
  background: #dddddd;
  color: rgb(9, 9, 29);
  cursor: no-drop;
}

.skillBattle-inner .button-div-unlock {
  float: left;
  width: 100%;
  height: 9vh;
}

.button-div-unlock .wypisz {
  background-color: rgba(0, 255, 187, 0.08) !important;
  color: rgb(0, 255, 187) !important;
  border: 1px solid rgba(0, 255, 187, 0.6) !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  width: 9.3vw;
  margin: 0.2rem 0.2rem;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  position: relative;
}

.button-div-unlock .wypisz:hover {
  background-color: rgba(0, 255, 187, 0.2) !important;
  color: rgb(0, 255, 186) !important;
  border: 1px solid rgba(0, 255, 187, 1) !important;
}

.button-div-unlock button:disabled {
  background: #dddddd;
  color: rgb(9, 9, 29);
  cursor: no-drop;
}
