.characterView {
  background-color: #181818;
  height: 100%;
  width: 100%;
}
.characterView .FirstBox {
  float: left;
  height: 426px;
  width: 700px;
}
.FirstBox .left {
  float: left;
  width: 200px;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.05);
}

.FirstBox .middle {
  float: left;
  width: 300px;
  height: 423px;
  border: 1px solid rgba(148, 0, 0, 0.52);
}
.itemInUse {
  height: 141px;
  width: 199px;
  float: left;
  border: 1px solid rgba(148, 0, 0, 0.52);
}

.FirstBox .right {
  float: left;
  width: 200px;
  background-color: rgba(255, 0, 0, 0.05);
  height: 100%;
  position: relative;
  left: 1px;
}

.FirstBox .middle .avatar {
  height: 100%;
  width: 100%;
  float: left;
  text-align: center;
}

.FirstBox .middle .avatar .infoNick {
  font-size: 33px;
  padding-top: 7px;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif;
  z-index: 5;
  border-top: 2px solid rgba(255, 0, 0, 0.15);
}
.FirstBox .middle .avatar .background {
  background-color: rgba(255, 0, 0, 0.04);
  position: relative;
  top:-5px;
height: 158px;

}
.FirstBox .middle .avatar .info {
  margin-top: 3px;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  color: rgba(201, 255, 161, 0.9);
  z-index: 2;
}
.FirstBox .middle .avatar .klasa {
  margin-top: 3px;
  font-size: 24px;
  padding-bottom: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  z-index: 3;
  color: #f6ecf4;
}
.FirstBox .middle .avatar .imageSkill {
  z-index: 1;
}

.FirstBox .middle .avatar .progressExp-div {
  background-color: rgba(0, 255, 138, 0.2);
  height: 32px;
  position: relative;
  top: -2px;
  left: -1px;
  z-index: 5;
}

.FirstBox .middle .avatar .progressExp {
  height: 32px;
  margin-top: 5px;
  font-size: 20px;
  background-color: rgba(0, 255, 138, 0.17);
  z-index: 3;
  position: relative;
}

.FirstBox .middle .avatar .expInfo {
  color: rgba(240, 240, 240, 0.90);
  position: relative;
  top: -31px;
  font-weight: 400;
  font-size: 21px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  z-index: 3;
}

.itemInUse .imageSkill {
  position: relative;
  display: inline-block;
  top: 0px;
  right: 0px;
  z-index: 2;
}
.itemInUse .active-btn {
  display: unset;
  position: relative;
  top: -145px;
  left: 166px;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 24px;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.itemInUse .active-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 1);
  color: white;
}

.characterView .secondBox {
  clear: both;
  background-color: rgba(255, 251, 0, 0.02);
  border: 1px solid rgba(255, 253, 0, 0.3);
  margin-top: 65px;
  float: left;
  height: 375px;
  width: 600px;
  display: inline;
}

.secondBox .stat {
  text-align: center;
  width: 100%;
  height: 75px;
  float: left;
}
.secondBox .stat .nameBox {
  float: left;
  height: 100%;
  width: 198px;
  font-size: 18px;
  padding-top: 10px;
  position: relative;
  left: 20px;
  top: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
  position: relative;
  top: 8px;
}
.secondBox .stat .nameBox .name {
  position: relative;
  display: inline-block;
}

.secondBox .stat .nameBox .name .tooltip {
  visibility: hidden;
  min-width: 300px;
  width: auto;
  max-width: 500px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  background-color: rgb(10, 10, 10);
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: -50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  transition: opacity 0.3s;

  overflow-wrap: break-word;
}
.secondBox .stat .nameBox .name:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.secondBox .stat .statValue {
  padding-top: 13px;
  float: left;
  height: 100%;
  width: 200px;
  font-size: 25px;
  position: relative;
  left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: relative;
  top: 4px;
}
#sila {
  color: #ff4747;
}
#zrecznosc {
  color: #d29eff;
}
#inteligencja {
  color: #77b3ff;
}
#wytrzymalosc {
  color: #5cef56;
}
#szczescie {
  color: #ffdc61;
}

.secondBox .stat .statButton {
  float: left;
  height: 100%;
  width: 200px;
}

.secondBox .stat .statButton .statisticButton {
  background-color: rgb(255, 253, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 253, 0, 0.65);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 5px 5px;
  width: 125px;
  margin-top: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
}

.secondBox .stat .statButton .statisticButton:hover {
  background-color: rgb(255, 253, 0, 0.2);
  color: white;
  border: 1px solid rgba(255, 253, 0, 0.85);
}
.secondBox .stat .statButton .statisticButton:disabled {
  background-color: rgb(255, 253, 0, 0.02);
  color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 253, 0, 0.25);
  cursor: no-drop;
}

.secondBox .stat .statButton .statisticButton .tooltipStatButt {
  visibility: hidden;
  width: 200px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  background-color: rgb(10, 10, 10);
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 30%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 22px;
  overflow-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.secondBox .stat .statButton .statisticButton:hover .tooltipStatButt {
  visibility: visible;
  opacity: 1;
}

.characterView .forthBox {
  float: right;
  background-color: rgba(64, 255, 0, 0.03);
  border: 1px solid rgba(64, 255, 0, 0.25);
  height: 375px;
  width: 780px;
  margin-top: 65px;
}
.forthBox .statsExtended {
  color: whitesmoke;
  text-align: center;
  width: 780px;
  height: 375px;
  float: left;
  font-weight: 300;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 5px;
}

.forthBox .statsExtended .statExtended {
  padding-top: 10px;
  float: left;
  width: 390px;
  height: 62.5px;
}
.forthBox .statsExtended .statExtended .nameOfStat {
  height: 100%;
  float: left;
  width: 60%;
}
.forthBox .statsExtended .statExtended .valueOfStat {
  height: 100%;
  float: left;
  width: 40%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.forthBox .statsExtended .statExtended2 {
  padding-top: 15px;
  float: left;
  width: 100%;
  height: 62.5px;
  color: rgba(0, 229, 168, 0.95);
  position: relative;
  left: 20px;
}
.forthBox .statsExtended .statExtended2 .nameOfStat {
  height: 100%;
  float: left;
  width: 60%;
}
.forthBox .statsExtended .statExtended2 .valueOfStat {
  height: 100%;
  float: left;
  width: 40%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.thirdBox {
  background-color: rgba(250, 149, 18, 0.03);
  float: right;
  height: 425px;
  width: 602px;
  border: 1px solid rgba(250, 149, 18, 0.26);
}

.thirdBox .inventoryItem {
  height: 141px;
  width: 200px;
  color: red;
  float: left;
  display: inline;
  text-align: center;
  border: 1px solid rgba(250, 149, 18, 0.26);
}

.inventoryItem .imageItem {
  position: relative;
  display: inline-block;
  top: 0px;
  right: 2px;
  z-index: 1;
}

.inventoryItem .itemInventory-btn {
  display: unset;
  position: relative;
  top: -145px;
  left: 84px;
  width: 30px;
  height: 30px;
  background: rgba(255, 248, 0, 0.1);
  border: 1px solid rgba(255, 248, 0, 0.3);
  color: rgb(255, 248, 42);
  font-weight: bold;
  outline: none;
  border-radius: 3px;
  cursor: pointer;

  font-size: 24px;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.inventoryItem .itemInventory-btn:hover {
  background: rgba(255, 248, 0, 0.2);
  border: 1px solid rgba(255, 248, 0, 1);
  color: rgb(255, 245, 0);
}

.characterView .forthBoxDealer {
  float: left;
  background-color: rgba(64, 255, 0, 0.03);
  border: 1px solid rgba(64, 255, 0, 0.25);
  height: 375px;
  width: 770px;
  margin-top: 65px;
  text-align: center;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.forthBoxDealer .statsExtended .statExtended {
  padding-top: 10px;
  float: left;
  width: 380px;
  height: 62.5px;
}
.forthBoxDealer .statsExtended {
  position: relative;
  top: 5px;
}
.forthBoxDealer .statsExtended .statExtended .nameOfStat {
  height: 100%;
  float: left;
  width: 60%;
}
.forthBoxDealer .statsExtended .statExtended .valueOfStat {
  height: 100%;
  float: left;
  width: 40%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.forthBoxDealer .statsExtended .statExtended2 {
  padding-top: 15px;
  float: left;
  width: 100%;
  height: 62.5px;
  color: rgba(0, 229, 168, 0.95);
  position: relative;
  left: 20px;
}
.forthBoxDealer .statsExtended .statExtended2 .nameOfStat {
  height: 100%;
  float: left;
  width: 60%;
}
.forthBoxDealer .statsExtended .statExtended2 .valueOfStat {
  height: 100%;
  float: left;
  width: 40%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
