.cash {
  border-top: solid red 1px;
  border-bottom: solid red 1px;
  padding-top: 1vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 18vh;
  font-weight: bold;
  background-color: rgba(56, 24, 24, 0.6);
}
.cashItem {
  margin-top: 1vh;
  width: 100%;
  height: 7vh;
  float: left;
  font-family: "Paytone One", sans-serif;
}

.cashItemName {
  text-align: center;
  width: 50%;
  height: 7vh;

  float: left;
  font-size: 1.6rem;
  font-family: "Paytone One", sans-serif;
  position: relative;
  left: 1vw;
}

.cashItemValue {
  text-align: center;
  width: 50%;
  height: 7vh;
  float: left;
  font-size: 1.6rem;
  font-family: "Paytone One", sans-serif;
  position: relative;
  left: 1vw;
}
#zloto {
  color: #fff264 !important;
}
#diamenty {
  color: #80f0ff !important;
}
