.singleGameView {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.singleGameView .player {
  width: 500px;
  float: left;
  height: 650px;
  background-color: rgba(0, 149, 255, 0.03);
  border: 1px solid rgba(0, 149, 255, 0.2);
  clear: both;
  padding-left: 55px;
  padding-top: 80px;
}

.singleGameView .player .avatar {
  border: 1px solid rgba(0, 183, 255, 0.3);
  width: 300px;
  height: 390px;
  margin-left: 50px;
  padding-top: 20px;
  float: left;
  clear: both;
}

.singleGameView .player .avatar .nick {
  height: 50px;
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 27px;
  margin-top: 13px;
}
.singleGameView .player .avatar .background{
  background-color: rgba(0, 149, 255, 0.03);
  height: 105px;
  position: relative;
  top:-5px;
  border-top: 1px solid rgba(0, 149, 255, 0.3);
}
.singleGameView .player .avatar .level {
  height: 50px;
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 17px;
}
.singleGameView .player .healthPoints {
  border: 1px solid black;
  width: 300px;
  height: 52px;
  float: left;
  text-align: center;
  position: relative;
  left: 50px;
}

.singleGameView .player .progressMonsterHealthPoints-div {
  height: 50px;
  background-color: rgba(7, 255, 0, 0.4);
  position: relative;
  left: -1px;
}

.singleGameView .player .progressMonsterHealthPoints {
  background-color: rgb(0, 255, 88);
  height: 50px;
  transition: 1s linear;
  position: relative;
  left: -1px;
}

.singleGameView .player .progress-div-monsterHealthPointsText {
  position: relative;
  height: 50px;
  width: 400px;
  float: left;
  font-size: 24px;
  left: -45px;
  top: -41px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #151515;
  z-index: 2;
}

.singleGameView .enemy {
  width: 500px;
  float: right;
  height: 650px;
  border: 1px solid rgba(255, 0, 0, 0.45);
  padding-left: 55px;
  padding-top: 80px;
  background-color: rgba(255, 0, 0, 0.03);
}
.singleGameView .enemy .avatar .background{
  background-color: rgba(255, 0, 0, 0.04);
  height: 105px;
  position: relative;
  top:-5px;
  border-top: 1px solid rgba(255, 0, 0, 0.35);
}
.singleGameView .enemy img{
  width: 298px;
}
.singleGameView .enemy .avatar {
  border: 1px solid red;
  width: 300px;
  height: 390px;
  margin-left: 50px;
  padding-top: 20px;
  float: left;
  clear: both;
}

.singleGameView .enemy .avatar .nick {
  height: 50px;
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 27px;
  margin-top: 13px;
}

.singleGameView .enemy .avatar .level {
  height: 50px;
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.singleGameView .enemy .healthPoints {
  border: 1px solid rgba(255, 0, 0, 0.6);
  width: 300px;
  height: 52px;
  float: left;
  text-align: center;
  position: relative;
  left: 50px;
}

.singleGameView .enemy .progressMonsterHealthPoints-div {
  height: 50px;
  background-color: rgba(225, 0, 0, 0.3);
}

.singleGameView .enemy .progressMonsterHealthPoints {
  background-color: rgba(225, 0, 0, 0.6);
  height: 50px;
  transition: 1s linear;
}

.singleGameView .enemy .progress-div-monsterHealthPointsText {
  position: relative;
  height: 50px;
  width: 400px;
  float: left;
  font-size: 24px;
  left: -45px;
  top: -41px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: whitesmoke;
  z-index: 2;
}

.singleGameView .playerViewBattleController {
  position: relative;
  top: -40px;
  left: 440px;
  width: 520px;
  float: left;
  height: 285px;
  background-color: rgb(24, 24, 24);
  border: 1px solid rgb(35, 52, 58);
}

.singleGameView .playerViewBattleController .playerValues {
  width: 100%;
  height: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: left;
}

.singleGameView .playerViewBattleController .playerValues .healtPoints-div {
  margin-left: 30px;
  height: 50px;
  text-align: center;
  background-color: rgba(0, 255, 100, 0.6);
  border: 1px solid black;
  float: left;
}

.singleGameView
  .playerViewBattleController
  .playerValues
  .healtPoints-div
  .progressPlayerHealthPoints {
  background-color: rgba(0, 255, 100, 0.7);
  height: 48px;
  transition: 1s linear;
}

.singleGameView
  .playerViewBattleController
  .playerValues
  .healtPoints-div
  .progress-div-playerHealthPointsText {
  position: relative;
  height: 48px;
  width: 300px;
  float: left;
  font-size: 25px;
  left: -45px;
  top: -40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #151515;

  z-index: 2;
}

.singleGameView .playerViewBattleController .playerValues .manaPoints-div {
  text-align: center;
  margin-right: 30px;
  border: 1px solid black;
  height: 50px;
  background-color: rgba(75, 214, 255, 0.8);
  float: right;
}

.singleGameView
  .playerViewBattleController
  .playerValues
  .manaPoints-div
  .progressPlayerManaPoints {
  background-color: rgba(75, 214, 255, 0.95);
  height: 48px;
  transition: 1s linear;
}

.singleGameView
  .playerViewBattleController
  .playerValues
  .manaPoints-div
  .progress-div-playerManaPointsText {
  position: relative;
  height: 48px;
  width: 300px;
  float: left;
  font-size: 20px;
  font-size: 25px;
  left: -45px;
  top: -40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #151515;

  z-index: 3;
}

.singleGameView .playerViewBattleController .actions {
  height: 190px;
  width: 100%;
  float: left;
}

.singleGameView .playerViewBattleController .actions .attackModes {
  padding-top: 5px;
  margin-top: 7px;
  padding-bottom: 90px;
  height: 87px;
  width: 100%;
  float: left;
  background-color: rgba(255, 255, 0, 0.04);
  border: 1px solid rgba(255, 255, 0, 0.2);
}

.singleGameView .playerViewBattleController .actions .attackModes .mode {
  margin-left: 7.5%;
  height: 85px;
  width: 120px;
  float: left;
}

.atk1 {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.4);
}

.atk2 {
  background-color: rgba(255, 128, 0, 0.2);
  border: 1px solid rgba(255, 128, 0, 0.4);
}

.atk3 {
  background-color: rgba(43, 120, 114, 0.2);
  border: 1px solid rgba(43, 120, 114, 0.4);
}

.skill1 {
  background-color: rgba(0, 247, 255, 0.2);
  border: 1px solid rgba(0, 247, 255, 0.4);
}
.skill1 .skillTooltip {
  background-color: #00373b !important;
  border: 1px solid #007175 !important;
  color: #ffffff !important;
  text-align: center;

}

.skill2 {
  background-color: rgba(220, 139, 255, 0.2);
  border: 1px solid rgba(220, 139, 255, 0.4);
}
.skill2 .skillTooltip {
  background-color: #2c223b !important;
  border: 1px solid #604175 !important;
  color: #ffffff !important;
  text-align: center;

}

.skill3 {
  background-color: rgba(255, 254, 102, 0.2);
  border: 1px solid rgba(255, 254, 102, 0.4);
}

.skill3 .skillTooltip {
  background-color: #33391c !important;
  border: 1px solid #707432 !important;
  color: #ffffff !important;
  text-align: center;

}

.nametool {
  font-weight: 300;
  font-size: 20px;
  margin-top: 2px;
  text-transform: uppercase;
  height: 30px;
}
.costtool {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 3px;
}
.pcosttool {
  font-weight: bolder;
}
.worftool {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 300;
}
.pworftool {
  font-weight: bolder;
}
.singleGameView .playerViewBattleController .actions .skills {
  padding-top: 5px;
  margin-top: 14px;
  padding-bottom: 90px;
  height: 87px;
  width: 100%;
  float: left;
  background-color: rgba(0, 178, 255, 0.04);
  border: 1px solid rgba(0, 178, 255, 0.4);
}

.singleGameView .playerViewBattleController .actions .skills .skill {
  margin-left: 7.5%;
  height: 87px;
  width: 122px;
  float: left;
  background-color: transparent;
}
.singleGameView .playerViewBattleController .actions .skills .skill button {
  background-color: transparent;
  border: none;
}

.singleGameView
  .playerViewBattleController
  .actions
  .skills
  .skill
  .progress-div {
  margin-top: 40px;
  margin-left: 50px;
  width: 50px;
  position: relative;
  top:-2px;
  width: 301px;
  background-color: rgba(0, 0, 0, 0.65);
  border:1px solid rgba(0, 0, 0, 1);
}

.singleGameView .playerViewBattleController .actions .skills .skill .progress {
  background-color: rgb(62, 122, 235);
  height: 21px;

  transition: 1s linear;
}
.singleGameView
  .playerViewBattleController
  .actions
  .skills
  .skill
  .progress-div-time {
  position: relative;
  height: 21px;
  width: 1300px;
  margin-left: 50px;
  float: left;
  font-size: 20px;
  top: -50px;
  padding-top: 5px;
  color: red;
}

.singleGameView
  .playerViewBattleController
  .actions
  .skills
  .skill
  button
  .imageSkill {
  background-color: transparent;
  display: inline-block;
  z-index: 1;
}
.singleGameView
  .playerViewBattleController
  .actions
  .skills
  .skill
  button:disabled
  .imageSkill {
  background-color: transparent;
  display: inline-block;
  z-index: 1;
  filter: grayscale(90%);
}
.singleGameView
  .playerViewBattleController
  .actions
  .skills
  .skill
  .skillTooltip {
  position: relative;
  visibility: hidden;
  opacity: 0;
  height: 100px;
  width: 300px;
  top: -210px;
  left: -100px;
  background-color: yellow;
  border: 1px solid black;
  color: red;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  z-index: 4;
}

.singleGameView
  .playerViewBattleController
  .actions
  .skills
  .skill:hover
  .skillTooltip {
  visibility: visible;
  opacity: 1;
}

/* win Popup*/
.popup-win {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.win-inner {
  position: fixed;
  padding: 32px;
  width: 100%;
  height: 800px;
  max-width: 500px;
  background-color: rgb(0, 2, 2);
  border: 1px solid rgba(44, 225, 91, 0.8);
  color: #2ce15b;
}

.win-inner .title {
  width: 100%;
  height: 80px;
  float: left;
  font-size: 40px;
  font-weight: 600;
}

.win-inner .description {
  width: 100%;
  height: 240px;
  font-size: 25px;
  font-weight: 300;
  float: left;
  color: rgba(255, 255, 255, 0.8);
}
.win-inner .description .gold {
  color: rgba(124, 126, 42, 0.7);
}
.win-inner .rewards {
  width: 100%;
  height: 330px;
  float: left;
}
.win-inner .rewards .title {
  float: left;
  height: 65px;
  width: 100%;
  font-weight: 200;
  color: rgba(0, 255, 196, 0.7);
  font-size: 35px;
}
.rewards .money {
  float: left;
  height: 50px;
  width: 100%;
}
.rewards .money {
  float: left;
  height: 45px;
  width: 100%;
  font-size: 25px;
  font-weight: 300;
  color: #fff264;
}
.moni {
  font-weight: 600;
}

.rewards .expoints {
  float: left;
  height: 55px;
  width: 100%;
  font-size: 25px;
  font-weight: 300;
  color: rgb(207, 155, 255);
}
.xp {
  font-weight: 600;
}

.rewards .itemBox {
  width: 100%;
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
}
.win-inner .rewards .itemBox .item {
  width: 200px;
  background-color: rgba(44, 225, 91, 0.03);
  border: 1px solid rgba(44, 225, 91, 0.2);
  height: 141px;
}

.win-inner .submitButtonBox {
  width: 100%;
  height: 75px;
  float: left;
}

.win-inner .submitButtonBox button {
  background-color: rgba(0, 255, 65, 0.04);
  color: rgb(0, 255, 65);
  border: 1px solid rgba(0, 255, 65, 0.7);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  padding: 14px 14px;
  width: 180px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
}

.win-inner .submitButtonBox button:hover {
  background-color: rgba(0, 255, 65, 0.2);
  color: rgb(0, 255, 65);
  border: 1px solid rgba(0, 255, 65, 1);
}
.win-inner .submitButtonBox button:disabled {
  background: #dddddd;
  color: rgb(9, 9, 29);
  cursor: no-drop;
}

/* win Popup*/

/* lose Popup*/
.popup-lose {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ff0000;
}

.lose-inner {
  position: fixed;
  padding: 32px;
  width: 100%;
  height: 450px;
  max-width: 550px;
  background-color: rgb(9, 0, 0);
  border: 1px solid rgba(255, 0, 0, 0.8);
}

.lose-inner .title {
  width: 100%;
  height: 80px;
  float: left;
  font-size: 40px;
  font-weight: 400;
}

.lose-inner .description {
  width: 100%;
  height: 220px;
  font-size: 25px;
  font-weight: 300;
  float: left;
  color: rgba(255, 255, 255, 0.9);
}
.lose-inner .description .gold {
  color: rgba(255, 213, 0, 0.9);
}

.lose-inner .submitButtonBox {
  width: 100%;
  height: 75px;
  float: left;
}

.lose-inner .submitButtonBox button {
  background-color: rgba(255, 0, 0, 0.04);
  color: rgb(255, 0, 0);
  border: 1px solid rgba(255, 0, 0, 0.7);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  padding: 14px 14px;
  width: 180px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: relative;
}

.lose-inner .submitButtonBox button:hover {
  background-color: rgba(255, 0, 0, 0.2);
  color: rgb(255, 0, 0);
  border: 1px solid rgba(255, 0, 0, 1);
}
/* lose Popup*/

/* */
.combatDiv {
  margin: 0;
  text-align: center;
  color: blue;
  background-color: red;
  width: 200px;
  height: 50px;
  position: relative;
  z-index: 1;
  top: -250px;
  left: 100px;
}
.combatDivText {
  position: relative;
  top: -40px;
  font-size: 22px;
  z-index: 1;
  opacity: 0;
  animation-name: example;
  animation-duration: 4s;
}
.singleGameView .playerViewBattleController .actions .skills .skill .skill1 .showingTime {
  position: relative !important;
  top: 50px;
  left: 25px;
  height: 25px;
  z-index: 1;
  border: 1px solid black;
}
.singleGameView .playerViewBattleController .actions .skills .skill .skill1 .progressSkillTime-div {
  height: 25px;
  background-color: rgb(233, 233, 233);
}

.singleGameView .playerViewBattleController .actions .skills .skill .skill1 .progressSkillTime {
  background-color: rgb(235, 200, 62);
  height: 25px;
  transition: 1s linear;
}
.singleGameView .playerViewBattleController .actions .skills .skill .skill2 .showingTime {
  position: relative !important;
  top: -550px;
  left: 25px;
  height: 25px;
  z-index: 1;
  border: 1px solid black;
}
.singleGameView .playerViewBattleController .actions .skills .skill .skill2 .progressSkillTime-div {
  height: 25px;
  background-color: rgb(233, 233, 233);
}

.singleGameView .playerViewBattleController .actions .skills .skill .skill2 .progressSkillTime {
  background-color: rgb(62, 122, 235);
  height: 25px;
  transition: 1s linear;
}
.singleGameView .playerViewBattleController .actions .skills .skill .skill3 .showingTime {
  position: relative !important;
  top: 50px;
  left: 25px;
  height: 25px;
  z-index: 1;
  border: 1px solid black;
}
.singleGameView .playerViewBattleController .actions .skills .skill .skill3 .progressSkillTime-div {
  height: 25px;
  background-color: rgb(233, 233, 233);
}

.singleGameView .playerViewBattleController .actions .skills .skill .skill3 .progressSkillTime {
  background-color: rgb(62, 122, 235);
  height: 25px;
  transition: 1s linear;
}

.barskill1{
  position: relative;
  top:-165px;
  left: -50px;
  height: 20px!important;

}
.barskill2{
  position: relative;
  top:-165px;
  left: -50px;
  height: 20px!important;
}
.barskill3{
  position: relative;
  top:-165px;
  left: -50px;
  height: 20px!important;
}

@keyframes example {
  0% {
    opacity: 1;
  }
  25% {
    top: -60px;
  }
  50% {
    top: -60px;
  }
  75% {
    top: -60px;
  }
  100% {
    opacity: 0;
  }
}
