.singleGameView {
  width: 100%;
  height: 100%;
  color: green;
}
.singleGameView .Player {
  border: 1px solid red;

  width: 500px;
  height: 100%;
  padding-top: 70px;
  padding-left: 50px;
  float: left;
  align-items: center;
}

.singleGameView .Player .Avatar {
  border: 1px solid red;
  width: 300px;
  height: 400px;
  float: left;
  clear: both;
  margin-left: 50px;
  padding-top: 300px;
}
.singleGameView .Player .Avatar .nick {
  height: 50px;
  float: left;
  width: 100%;
  text-align: center;
}
.singleGameView .Player .Avatar .level {
  height: 50px;
  float: left;
  width: 100%;
  text-align: center;
}
.singleGameView .Player .HitPoints {
  border: 1px solid red;
  width: 402px;
  height: 52px;
  float: left;
  text-align: center;
}
.progressPlayerHealthPoints-div {
  height: 50px;
  background-color: rgb(233, 233, 233);
}

.progressPlayerHealthPoints {
  background-color: rgb(62, 122, 235);
  height: 50px;
  transition: 1s linear;
}
.progress-div-playerHealthPoints {
  position: relative;
  height: 50px;
  width: 400px;
  float: left;
  font-size: 20px;
  left: 0px;
  top: -40px;
  color: yellow;
  z-index: 2;
}
.singleGameView .Player .ManaPoints {
  border: 1px solid red;
  width: 402px;
  height: 52px;
  float: left;
  text-align: center;
}
.progressPlayerManaPoints-div {
  height: 50px;
  background-color: rgb(233, 233, 233);
}

.progressPlayerManaPoints {
  background-color: rgb(62, 122, 235);
  height: 50px;
  transition: 1s linear;
}
.progress-div-playerManaPoints {
  position: relative;
  height: 50px;
  width: 400px;
  float: left;
  font-size: 20px;
  left: 0px;
  top: -40px;
  color: yellow;
  z-index: 2;
}
.singleGameView .Player .Mode {
  padding-left: 2px;
  margin-left: -24px;
  float: left;
  width: 452px;
  height: 100px;
  border: 1px solid red;
}
.singleGameView .Player .Mode .First {
  float: left;
  width: 149px;
  height: 100%;
}
.singleGameView .Player .Mode .Second {
  float: left;
  width: 149px;
  height: 100%;
}
.singleGameView .Player .Mode .Third {
  float: left;
  width: 149px;
  height: 100%;
}
.singleGameView .Player .Mode .First .Child {
  width: 100%;
  height: 100%;
}
.singleGameView .Player .Mode .Second .Child {
  width: 100%;
  height: 100%;
}
.singleGameView .Player .Mode .Third .Child {
  width: 100%;
  height: 100%;
}
.singleGameView .Player .Skills {
  padding-left: 2px;
  margin-left: -24px;
  float: left;
  width: 452px;
  height: 100px;
  border: 1px solid red;
}
.singleGameView .Player .Skills .Skill {
  float: left;
  width: 149px;
  height: 100%;
}
.singleGameView .Player .Skills .Skill .Content {
  width: 100%;
  height: 100%;
}
.skillButton {
  background-color: rgb(9, 9, 29);
  color: yellow;
  border: 1px solid red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.skillButton:hover {
  background-color: red;
  color: rgb(9, 9, 29);
}
.skillButton:disabled {
  background-color: white;
  color: rgb(9, 9, 29);
}

.singleGameView .Enemy {
  border: 1px solid blue;
  padding-left: 45px;
  padding-top: 70px;
  width: 500px;
  height: 100%;
  float: right;
}
.singleGameView .Enemy .Avatar {
  border: 1px solid red;
  width: 300px;
  height: 400px;
  margin-left: 50px;
  padding-top: 300px;
  float: left;
  clear: both;
}
.singleGameView .Enemy .Avatar .nick {
  height: 50px;
  float: left;
  width: 100%;
  text-align: center;
}
.singleGameView .Enemy .Avatar .level {
  height: 50px;
  float: left;
  width: 100%;
  text-align: center;
}
.singleGameView .Enemy .HitPoints {
  border: 1px solid green;
  width: 402px;
  height: 52px;
  float: left;
}
.progressMonsterHealthPoints-div {
  height: 50px;
  background-color: rgb(233, 233, 233);
}

.progressMonsterHealthPoints {
  background-color: rgb(62, 122, 235);
  height: 50px;
  transition: 1s linear;
}
.progress-div-monsterManaPoints {
  position: relative;
  height: 50px;
  width: 400px;
  float: left;
  font-size: 20px;
  left: 0px;
  top: -40px;
  color: yellow;
  z-index: 2;
}
/* win Popup*/
.popup-win {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.win-inner {
  position: fixed;
  padding: 32px;
  width: 100%;
  height: 800px;
  max-width: 500px;
  background-color: black;
  border: 1px solid red;
}

.win-inner .title {
  width: 100%;
  height: 80px;
  float: left;
  font-size: 40px;
  font-weight: 700;
}

.win-inner .description {
  width: 100%;
  height: 250px;
  font-size: 25px;
  font-weight: 500;
  float: left;
}
.win-inner .description .gold {
  color: rgba(124, 126, 42, 0.7);
}
.win-inner .rewards {
  width: 100%;
  height: 330px;
  float: left;
}
.win-inner .rewards .title {
  float: left;
  height: 70px;
  width: 100%;
}
.rewards .money {
  float: left;
  height: 50px;
  width: 100%;
}
.rewards .money {
  float: left;
  height: 50px;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
}
.rewards .expoints {
  float: left;
  height: 50px;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
}

.rewards .itemBox {
  width: 100%;
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
}
.win-inner .rewards .itemBox .item {
  width: 200px;
  background-color: rgb(21, 21, 70);
  height: 141px;
}

.win-inner .submitButtonBox {
  width: 100%;
  height: 75px;
  float: left;
}

.win-inner .submitButtonBox button {
  background-color: rgb(9, 9, 29);
  color: red;
  border: 1px solid red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 5px 5px;
  width: 125px;
  margin-top: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
}

.win-inner .submitButtonBox button:hover {
  background-color: red;
  color: rgb(9, 9, 29);
}
.win-inner .submitButtonBox button:disabled {
  background: #dddddd;
  color: rgb(9, 9, 29);
  cursor: no-drop;
}

/* win Popup*/

/* lose Popup*/
.popup-lose {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lose-inner {
  position: fixed;
  padding: 32px;
  width: 100%;
  height: 500px;
  max-width: 550px;
  background-color: black;
  border: 1px solid red;
}

.lose-inner .title {
  width: 100%;
  height: 80px;
  float: left;
  font-size: 40px;
  font-weight: 700;
}

.lose-inner .description {
  width: 100%;
  height: 250px;
  font-size: 25px;
  font-weight: 400;
  float: left;
}
.lose-inner .description .gold {
  color: rgba(124, 126, 42, 0.7);
}

.lose-inner .submitButtonBox {
  width: 100%;
  height: 75px;
  float: left;
}

.lose-inner .submitButtonBox button {
  background-color: rgb(9, 9, 29);
  color: red;
  border: 1px solid red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 5px 5px;
  width: 125px;
  margin-top: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
}

.lose-inner .submitButtonBox button:hover {
  background-color: red;
  color: rgb(9, 9, 29);
}
/* lose Popup*/

/* */
.combatDiv {
  margin: 0;
  text-align: center;
  color: blue;
  background-color: red;
  width: 200px;
  height: 50px;
  position: relative;
  z-index: 1;
  top: -250px;
  left: 100px;
}
.combatDivText {
  position: relative;
  top: -40px;
  font-size: 22px;
  z-index: 1;
  opacity: 0;
  animation-name: example;
  animation-duration: 4s;
}
.showingTime {
  position: relative;
  top: -200px;
  height: 25px;
  z-index: 1;
  border: 1px solid black;
}
.progressSkillTime-div {
  height: 25px;
  background-color: rgb(233, 233, 233);
}

.progressSkillTime {
  background-color: rgb(62, 122, 235);
  height: 25px;
  transition: 1s linear;
}
@keyframes example {
  0% {
    opacity: 1;
  }
  25% {
    top: -60px;
  }
  50% {
    top: -60px;
  }
  75% {
    top: -60px;
  }
  100% {
    opacity: 0;
  }
}
