.rightPanel {
  margin-top: 1vh;
  width: 77vw;
  height: 98vh;
  background-color: #181818;
  border: 1px solid rgba(128, 0, 0, 0.22);
  float: right;
  resize: both;
}

@media only screen and (max-width: 1366px) {
  /* For mobile phones: */
}
