.dungeonsView {
  width: 100%;
  height: 100%;
  padding: 1vh;
}
.dungeonsView .title {
  float: left;
  text-align: center;
  padding-top: 0.4rem;
  height: 9vh;
  width: 100%;
  font-size: 2.8rem;
  font-weight: 300;
  text-shadow: 2px 2px rgb(148, 0, 38);
  background-color: rgba(255, 0, 68, 0.03);
  color: rgb(255, 0, 68);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.dungeonsView .dungeons {
  margin-top: 1vh;
  float: left;
  width: 100%;
  height: 85vh;
  padding-top: 0.5vh;
}
.dungeons .dungeonView {
  width: 21vw;
  height: 100%;
  float: left;
  margin-left: 3.2vw;
  border: 1px solid rgba(255, 0, 68, 0.4);
  background-color: rgba(255, 0, 68, 0.04);
}
.dungeonView .title {
  width: 100%;
  height: 9vh;
  text-align: center;
  padding-top: 0.5rem;
  margin-bottom: 1vh;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(255, 77, 124);
}
.dungeonView .description {
  height: 23vh;
  width: 100%;
  text-align: center;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.85);
}
.dungeonView .difficult {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: rgba(102, 208, 246, 0.8);
}
.dungeonView .level {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: rgba(102, 208, 246, 0.8);
}

.dungeonView .time {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: rgba(102, 208, 246, 0.8);
}
.dungeonView .timeValue {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: rgba(102, 208, 246, 0.8);
}

.dungeonView .expPoints {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: rgb(185, 119, 246);
  font-size: 1rem;
}
.dungeonView .expPointsValue {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(185, 119, 246);
  font-size: 1rem;
}
.dungeonView .money {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff264;
  font-size: 1rem;
}
.dungeonView .moneyValue {
  height: 6vh;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff264;
  font-size: 1rem;
}
.dungeonRewardsItem {
  height: 50px;
  width: 50%;
  text-align: center;
  padding-top: 4.5rem;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #57ff87;
  font-size: 20px;
}
.dungeonView .itemBox {
  width: 100%;
  height: 17vh;
  text-align: center;
  float: left;
  padding-left: 5vw;
}
.dungeonView .itemBox .item {
  float: left;
  width: 11.5vw;
  height: 16vh;
  background-color: rgba(255, 107, 0, 0.05);
  border: 1px solid rgba(126, 50, 0, 0.5);
}
.dungeonView .itemBox .item img {
  width: 11.5vw;
  height: 16vh;
  top: 0;
  right: 0;
}
.dungeonRewardsItemValue1 {
  border: 1px solid rgba(255, 0, 68, 0.4);
  background-color: rgba(255, 0, 68, 0.04);
  height: 98px;
  width: 139px;
  text-align: center;
  padding-top: 2rem;
  float: left;
}
.dungeonView .dungeonButtons {
  height: 8vh;
  width: 100%;
  text-align: center;
  float: left;
}
.dungeonView .dungeonButtons .optionInvite {
  background-color: rgba(255, 213, 0, 0.04);
  color: rgb(255, 213, 0);
  border: 1px solid rgba(255, 213, 0, 0.7);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1vh;
  padding: 0.7rem 0.7rem;
  width: 9.3vw;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  position: relative;
}
.dungeonView .dungeonButtons .optionInvite:hover {
  background-color: rgba(255, 213, 0, 0.15);
  color: rgb(255, 209, 0);
  border: 1px solid rgba(255, 213, 0, 1);
}
.dungeonView .dungeonButtons .optionInvite:disabled {
  background: #dddddd;
  color: rgb(9, 9, 29);
  border: 1px solid rgba(0, 0, 0, 0.7);
  cursor: no-drop;
}

.dungeonView .dungeonButtons .optionJoin {
  border: 1px solid rgba(255, 28, 90, 0.65);
  color: rgb(255, 28, 90);
  background-color: rgba(255, 28, 90, 0.04);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1vh;
  padding: 0.7rem 0.7rem;
  width: 9.3vw;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
}
.dungeonView .dungeonButtons .optionJoin:hover {
  border: 1px solid rgba(255, 28, 90, 1);
  color: rgba(255, 28, 90, 1);
  background-color: rgba(255, 28, 90, 0.15);
}
.dungeonView .dungeonButtons .optionJoin:disabled {
  background: #dddddd;
  color: rgb(9, 9, 29);
  border: 1px solid rgba(0, 0, 0, 0.7);
  cursor: no-drop;
}
.easy {
  font-weight: 500;
  color: #228147;
}
.medium {
  font-weight: 500;
  color: #ecdb1a;
}
.hard {
  font-weight: 500;
  color: #9c1b1b;
}
