@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap");

.singleGameWaitingView {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid rgba(117, 0, 150, 0.5);
  padding: 1vh;
}
.singleGameWaitingView .title {
  float: left;
  width: 100%;
  font-size: 2.25rem;
  padding-top: 1.25rem;
  padding-bottom: 0.75rem;
  background-color: rgba(117, 0, 150, 0.2);
  font-family: "Amita", cursive;
  font-weight: 700;
  height: 15vh;
  text-transform: capitalize;
}
.singleGameWaitingView .description {
  float: left;
  width: 100%;
  height: 62vh;

  font-size: 2rem;
  font-family: "Amita", cursive;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(33, 33, 33, 0.1);
}
.singleGameWaitingView .time {
  float: left;
  height: 11vh;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.1);
  color: yellow;
}
.singleGameWaitingView .stopBoxButton {
  height: 8vh;
  width: 100%;
  background-color: rgba(117, 0, 150, 0.2);
  float: left;
}

.singleGameWaitingView .stopBoxButton button {
  background-color: rgba(255, 0, 221, 0.03);
  color: rgba(255, 0, 221, 0.8);
  border: 1px solid rgba(255, 0, 221, 0.5);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem;
  width: 6.5vw;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  position: relative;
  top: 0.6rem;
}
.singleGameWaitingView .stopBoxButton button:hover {
  background-color: rgba(255, 0, 221, 0.2);
  color: rgba(255, 0, 221, 1);
  border: 1px solid rgba(255, 0, 221, 1);
}
.progress-div-wait {
  margin-top: 4vh;
  margin-left: 3vw;
  background-color: rgba(0, 0, 0, 0.27);
  border: 1px solid rgba(0, 0, 0, 1);
}

.progresswait {
  background: linear-gradient(
    90deg,
    rgba(179, 75, 255, 0.1),
    rgba(161, 0, 255, 0.8)
  );
  animation: progress-animation 3s linear infinite;
  height: 5vh;

  transition: 1s linear;
}

.progress-div-time-wait {
  position: relative;
  height: 5vh;
  width: 67.7vw;
  margin-left: 3vw;
  float: left;
  font-size: 1.5rem;
  top: -5.1vh;
  color: #ffffff;
  font-family: "Amita", cursive;
  font-weight: 700;
}
